<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dropdown.css">
    <title>Dropdown</title>
</head>
<body>
    <div class="dropDownWrapper">
       <div class="dropDownTitle">
           <input value="Selecione" name="cardTitle" id="cardTitle" readonly>
           <img src="../Icons/Arrow.png" alt="Seta" id="selectionArrow" class="arrow">
        </div>
        <div id="listBox">
            <div class="itemFill">
                <span class="itemList" value="">INPUT C#1</span>
            </div>
            <div class="itemFill">
                <span class="itemList" value="">INPUT C#2</span>
            </div>
            <div class="itemFill">
                <span class="itemList" value="">INPUT C#3</span>
            </div>
            <div class="itemFill">
                <span class="itemList" value="">INPUT C#4</span>
            </div>
        </div>
    </div>
</body>
<script src="./dropdown.js"></script>
</html>